@import '../../variable.scss';

.header-menu {
	display: flex;
	flex-direction: column-reverse;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);

	.close-button {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.main-menu {
		display: flex;
		background: $grey-color;
		padding: 24px 35px;

		.img-wrapper {
			width: 129px;
			height: 129px;
			overflow: hidden;
			
			img {
				width: 100%
			}
		}
		
		ul {
			margin-left: 18px;
		}
	}

	.other-menu {
		padding: 50px 35px;
		display: flex;
		flex-direction: column-reverse;

		.title {
			color: black
		}

		.menu {
			margin-bottom: 30px;
		}
	}

	a {
		color: black;
		text-decoration: none;
	}

	li {
		list-style-type: none;
		font-size: 18px;
		margin-bottom: 10px;
	}

	.title {
		font-size: 15px;
		margin-bottom: 15px;
	}


	@media (min-width: $sm-width) {
		flex-direction: row;
		top: 138px;
		left: 50%;
		transform: translateX(-50%);

		.close-button {
			display: none;
		}

		.main-menu {
			padding: 50px 40px;
			.img-wrapper {
				width: 248px;
				height: 248px;
			}

			ul {
				margin-left: 60px;
			}
		}

		.other-menu {
			padding: 50px 70px;
			flex-direction: row-reverse;

			.menu {
				margin-right: 70px;
			}
		}

		li {
			font-size: 22px;
			margin-bottom: 10px;
			min-width: 150px;
		}
		
		.title {
			font-size: 16px;
			margin-bottom: 18px;
		}
	}
}